@tailwind base;
@tailwind components;
@tailwind utilities;



header {
  background-color: rgba(38, 36, 36, 0.933);
  border-bottom: 1px solid #333;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
}

body {
  background-color:#eff0f5d4 ;
  opacity: 50;
 

}

.statement {
  
  font-family:Georgia, 'Times New Roman', Times, serif;

  font-weight: 700;
  color: #a15d19;
  margin: 20px 0;
}

@keyframes floatUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#logo {
  animation: floatUp 3s ease-in-out ;
}

h1 {
  color: #fbaf3f;
   font-family: "Finger Paint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box {
  background-color: #3e3e3f;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}